:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.app-bar {
  height: max-content;
  min-width: min-content;
}
.button {
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
  color: hsla(var(--igx-surface-500));
}
.button_1 {
  color: hsla(var(--igx-surface-500));
}
.navbar_title_bar {
  margin: 0 0 0 1rem;
}
.view-container {
  position: relative;
  flex-grow: 1;
}
